.lock
/.idea/
/.idea/dictionaries
/nxt.iml
/nxt_db
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/nxt.jar
/nxt/*
/nxtservice.jar
/elastic.jar
/elasticservice.jar
/xel-lite-wallet.jar
/program.jar
/elastic-client*
/nxt_test_db
/README_win.txt
/nxt.log.lck
/bin
/target
/out-*
/build
/.classpath
/.project
/.settings/
/compile.bat
/test/classes/
*.csv
/jre*
/jre-win/*
/jre-mac/*
/dist
deploy.sh
/resource/nxt.manifest.mf
/resource/nxtservice.manifest.mf
/resource/elastic.manifest.mf
/resource/elasticservice.manifest.mf
/nxt.exe
/nxtservice.exe
/elastic.exe
/elasticservice.exe
/bundles
*.patch
/addons/classes/
/addons/src/*.java
/out
/ardor
/ardor.exe
/ardorservice.exe
/lib/SilentCMD.exe
install/bundles/output.txt
install/bundles/*.dmg
install/bundles/*.sh
install/bundles/*.exe
